.banner {
    position: relative;
}

img {
    border-radius: 5px;
}

.banner h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 0.5em;
}

h1 {
    font-family: Verdana, sans-serif;
}

p {
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 1.5em;
}

body {
    background-color: #fffafa;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body .banner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center; /* Aligns items vertically in the middle */
    padding: 1em;
    z-index: 1; /* Add this line */
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.363); /* Add this line */
}

nav img {
    border-radius: 5px;
    height: 6%;
    width: 6%;
    margin-right:20px;
}

nav li {
    padding-right: 20px;
}

nav ul {
    display: flex;
    list-style-type: none; /* Removes the bullet points */
    padding: 0; /* Removes the padding */
}

nav a {
    padding-right: 20px;
    font-size: 1.25em;
    color: black;
    text-decoration: none; /* Removes the underline */
}

nav a:hover {
    color: blue;
}

.mainText {
    text-align: center;
    padding: 2em;
}

.container {
    display: flex;
}

.container .column1 {
    flex: 2.5; /* This will make each column take up equal width */
    padding: 4em; /* Add some padding around the content in each column */
    padding-left: 8em;
}

.container .column2 {
    flex: 1; /* This will make each column take up equal width */
    padding: 2em; /* Add some padding around the content in each column */
    padding-right: 8em;
}

.container .column2 img {
    width: 50%;
    height: auto;
    padding: 1em;
    padding-bottom: 1px;
    border-radius: 25px;
}

.container .column2 p {
    margin-block-start: 0.4em;
}

.column2 dl {
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.column2 dt {
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
}

.column2 dd {
    margin-left: 1em;
    margin-bottom: 1em;
    color: #666;
}

button {
    background-color: #808080; /* Green */
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #696969;
}

@media (max-width: 1000px) {
    .banner {
        display: none;
    }
    .column1 {
        padding: 2em;
        padding-top: 10em;
    }
    .container {
        position: relative;
        top: 50px;
    }
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        position: relative;
        top: 50px;
    }

    .container .column1,
    .container .column2 {
        flex: auto;
        padding: 2em;
    }
}